@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary colors */
--Yellow: hsl(47, 88%, 63%);

    /* neutral colors */
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 50%);
--Black: hsl(0, 0%, 7%);

    /* font */
--font-family: 'Figtree', sans-serif;
--font-weight-semi-bold: 600;
--font-weight-extra-bold: 800;
}

/* reusable classes */
.semi-bold-text {
    font-weight: var(--font-weight-semi-bold);
}
.extra-bold-text {
    font-weight: var(--font-weight-extra-bold);
}



body {
    font-size: 1rem;
    font-family: var(--font-family);
    background-color: var(--Yellow);
    height: 100dvh;
    display: grid;
    grid-template-rows: auto min-content;
    align-items: center;
    justify-content: center;
}
/* .container > * {
    border: 2px solid red;
} */


/* card */
main {
    width: min-content;
}

.card {
    width: 100%;
    padding: 1rem;
    border: 0.06rem solid var(--Black);
    background-color: var(--White);
    border-radius: 1.25rem;
    box-shadow: 0.6rem 0.6rem  var(--Black);
    transition: 1s;/* box-shadow  slow-out */
    display: grid;
    gap: 1rem;
}

/* container for the image of the card */

.image-container {
    width: max-content;
}

.image-container img {
    border-radius: 0.6rem;
    width: 100%;
}


/* tag for the card */
.card-tag {
    background-color: var(--Yellow);
    width: min-content;
    border-radius: 0.2rem;
    padding: 0.3rem;
}


/* card title */
.card-title {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 1s;/* changing title  slow-out */
}

.card:has(.card-title:hover) {
    box-shadow: 1rem 1rem  var(--Black);
    transition: .4s;/* box-shadow  fast-in */
}

.card-title:hover {
    color: var(--Yellow);
    transition: .4s;/* changing title  fast-in */
}



/* some text from author */
.card-text {
    color: var(--Grey);
    line-height: 1.4rem;
}


/* author profile pic and name */
.card-author {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.card-author img {
    width: 2rem;
}

/* @media screen and (max-width: 25rem) {
    .card, footer {
        scale: .85;
    }
} */


/* trying to make it responsive */
/* if you know better solution please tell me */
@media screen and (max-width: 25rem) {
    body{
        font-size: 4.4vw; 
    }
    .card-title {
        font-size: 6.3vw;
    }
    .image-container {
        width: 84vw;
    }
}



/* footer */
.attribution { font-size: 11px; width: max-content; margin: 0 auto;}
.attribution a { color: white; text-decoration: none; }
